<div class="container-fluid main__section">
    <div class="container section__inner">

            <div class="row ">
                <div class="col-xl-5 col-lg-5 col-md-12 order-md-2 order-sm-2 order-2 col-sm-12 col-12">
                    <div class="wrapper">
                        <div class="">
                            <h2 translate>{{"HEADER.main_title"}}</h2>
                            <p>For ambitious companies around the world, wallet makes moving money as simple, borderless and programmable as the rest of the internet.</p>
                            <button>Join today!</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12 order-md-1 order-sm-1 order-1   col-sm-12 col-12 wrapper">
                    <div class="section__img">
                        <img class="img-fluid" src="assets\images\Group31.png" alt="">
                    </div>
                </div>
            </div>
    </div>
</div>