<div class="container-fluid footer">
    <div class="container">
        <div class="row border-bottom pb-5 ">
            <div class="col-lg-6 col-sm-12 col-12">
                <img src="assets/images/title.svg" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 col-12">
                <div class="row text-end d-flex align-items-center">
                    <div class="col-lg-9 col-md-9 col-sm-6 col-6">
                        <span>O’zgarishga tayyormisiz?</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <button class="footer__btn">Boshlang 👉</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer__lists">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 ">
                <div class="col-12 ">
                    <h6 class="footer__form-title"> Yangiliklarimizga obuna bo’ling!</h6>
                </div>
                <div class="col-12 text-center">
                    <form action="#">
                        <input class="footer__input" value="+998" type="text" placeholder="+998">
                        <button class="footer__form-btn" type="submit"><img src="assets/images/Path.svg" alt=""></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                <ul class="footer__list">
                    <li><a class="active" href="" >Sahifalar</a></li>
                    <li><a href="">Tariflar</a></li>
                    <li><a href="">Jamoa</a></li>
                    <li><a href="">Mijoz fikri</a></li>
                    <li><a href="">Boshlash</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                <ul class="footer__list">
                    <li><a class="active" href="">About</a></li>
                    <li><a href="">Our Story</a></li>
                    <li><a href="">Benefits</a></li>
                    <li><a href="">Team</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-4">
                <ul class="footer__list">
                    <li><a class="active" href="">Help</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="row  pb-5 mt-5 ">
            <div class="col-lg-6 col-6 d-flex align-items-center">
                <div class="row ">
                    <div class="col-12 ">
                        <span>Terms & Conditions</span>
                    </div>
                    <div class="col-12 " >
                        <span>Privacy Policy</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-6">
                <div class="row text-end d-flex align-items-center">
                    <div class="col-4">
                        <a href="">
                        <img src="assets/images/facebook.svg" alt="" width="22px" height="17px"></a>
                    </div>
                    <div class="col-4">
                        <a href=""><img src="assets/images/twitter.svg" alt="" width="22px" height="17px"></a>
                    </div>
                    <div class="col-4">
                       <a href=""> <img src="assets/images/instagram.svg" width="22px" height="17px" alt=""></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>