<div class="container-fluid main__section">
    <div class="container">
        <div class="col-12 text-center section__info">
            <h5 >Yangiliklar</h5>
            <p>So’ngi yangiliklarmizda bohabar bo’ling</p>
        </div>


        <owl-carousel-o [options]="customOptions">
            <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover1.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover2.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover3.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover3.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>
              
              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover3.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover3.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

              <ng-template  carouselSlide>
                <div  class="slide">
                  <div data-aos="zoom-in-down" class="slide__inner" >
                      <img  src="assets\images\cover3.png" alt="Card image cap">
                      <div class="wrapper">
                          <small class="murder__text">Course item</small>
                          <h5>Content Writer </h5>
                          <p>Slate helps you see how many 
                              more days. </p>
                          <p>
                              <small>Full time</small>
                              <small>Premium</small>
                              <small>  1 July 2019 </small>
                          </p>
                          <a href="">View Details</a>
                      </div>
                  </div>
                </div>
              </ng-template>

        </owl-carousel-o>




            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img  src="assets\images\cover3.png" alt="Card image cap">
                <div class="wrapper">
                    <small class="murder__text">Course item</small>
                    <h5>Content Writer </h5>
                    <p>Slate helps you see how many 
                        more days. </p>
                    <p>
                        <small>Full time</small>
                        <small>Premium</small>
                        <small>  1 July 2019 </small>
                    </p>
                    <a href="">View Details</a>
                </div>
            </div> -->


    </div>
</div>

