<div class="container-fluid section__three">
    <div class="container">
        <div class="col-12 text-center section__info">
            <h5 >Faoliyat</h5>
            <p>Kompaniya faoliyatidan statistikma’lumotlar</p>
        </div>


    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="img__wrapper">
                <img  src="assets\images\Image.png" alt="">
            </div>    
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-6 col-12">
            <div class="row">
                <div class="col-6 wrapper">
                    <div class="wrapper__inner">
                        <img src="assets\images\users.svg" alt="">
                        <h5>2680+</h5>
                        <p>Put The Clients First</p>
                    </div>
                </div>
                <div class="col-6 wrapper">
                    <div class="wrapper__inner">
                        <img src="assets\images\users.svg" alt="">
                        <h5>2680+</h5>
                        <p>Put The Clients First</p>
                    </div>
                </div>

                <div class="col-6 wrapper">
                    <div class="wrapper__inner">
                        <img src="assets\images\users.svg" alt="">
                        <h5>2680+</h5>
                        <p>Put The Clients First</p>
                    </div>
                </div>

                <div class="col-6 wrapper">
                    <div class="wrapper__inner">
                        <img src="assets\images\users.svg" alt="">
                        <h5>2680+</h5>
                        <p>Put The Clients First</p>
                    </div>
                </div>


            </div>
        </div>
    </div>



</div>

</div>

