<div class="container-fluid section__four">
    <div class="col-12 text-center section__info">
        <h5 >Bizning Jamoa</h5>
        <p>Bizning jamoamiz a’zolari top professionallardan tashkil topgan</p>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>

        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>


        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>

        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>

        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>

        <ng-template carouselSlide >
            <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="team">
                    <img class="team__img"  src="assets\images\computer.png" alt="">
                </div>
                <h6> Regina Miles</h6>
                <h5>Designer</h5>

                <p>the quick fox jumps 
                    over the lazy dog</p>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>



<div class="container-fluid p-0">
    <div class="container">
    <iframe width="100%"  src="https://www.youtube.com/embed/dmqoqVwFopE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="container-fluid section__four">
    <div class="container">  
        <div class="col-12 text-center section__info">
            <h5 >Tariflar kalkulyatori</h5>
            <p>Ushbu hizmat yordamida siz o’zingiz uchun tarif tanlashdan yaqinda ko’mak olasiz.</p>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Raw denim you probably haven't heard
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body col-lg-8 col-12">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                     laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes 
                    anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard 
                    accusamus dolores eos qui ratione voluptatem.
                    
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Williamsburg carles vegan helvetica.
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body   col-lg-8 col-12">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                     laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes 
                    anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard 
                    accusamus dolores eos qui ratione voluptatem.
                    
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Reprehenderit butcher retro
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body  col-lg-8 col-12">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                     laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes 
                    anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard 
                    accusamus dolores eos qui ratione voluptatem.
                    
                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingfour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                      Reprehenderit butcher retro
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingfour">
                  <div class="accordion-body col-lg-8 col-12">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
                      3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                       laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin 
                      coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes 
                      anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. 
                      craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard 
                      accusamus dolores eos qui ratione voluptatem.
                      
                  </div>
                </div>
              </div>

          </div>


    </div>
</div>


<div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.671647115593!2d69.27907174002982!3d41.316006240662304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x324fb78013c57369!2sHyatt%20Regency%20Tashkent!5e0!3m2!1sru!2s!4v1650812966094!5m2!1sru!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
