<div class="container-fluid section__four">
        <div class="col-12 text-center section__info">
            <h5 >Mijozlarimiz fikri</h5>
            <p>Bizning mijozlarimiz fikri bilan tanishib chiqing!</p>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide >
                <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <img class="user__img"  src="assets\images\user.png" alt="">
                    <h4> Regina Miles</h4>
                    <p>Designer</p>
                    <div class="rates">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/unstar.svg" alt="">
                    </div>

                    <p>This proved to be impossible using the traditional 
                        concepts of space and time. Einstein developed a 
                        new view of time first and then space. This proved 
                        to be impossible using the traditional concepts of 
                        space and time.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide >
                <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <img class="user__img"  src="assets\images\user.png" alt="">
                    <h4> Regina Miles</h4>
                    <p>Designer</p>
                    <div class="rates">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/unstar.svg" alt="">
                    </div>

                    <p>This proved to be impossible using the traditional 
                        concepts of space and time. Einstein developed a 
                        new view of time first and then space. This proved 
                        to be impossible using the traditional concepts of 
                        space and time.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide >
                <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <img class="user__img"  src="assets\images\user.png" alt="">
                    <h4> Regina Miles</h4>
                    <p>Designer</p>
                    <div class="rates">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/unstar.svg" alt="">
                    </div>

                    <p>This proved to be impossible using the traditional 
                        concepts of space and time. Einstein developed a 
                        new view of time first and then space. This proved 
                        to be impossible using the traditional concepts of 
                        space and time.</p>
                </div>
            </ng-template>

            <ng-template carouselSlide >
                <div class="slide col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                    <img class="user__img"  src="assets\images\user.png" alt="">
                    <h4> Regina Miles</h4>
                    <p>Designer</p>
                    <div class="rates">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/star.svg" alt="">
                        <img class="star__img" src="assets/images/unstar.svg" alt="">
                    </div>

                    <p>This proved to be impossible using the traditional 
                        concepts of space and time. Einstein developed a 
                        new view of time first and then space. This proved 
                        to be impossible using the traditional concepts of 
                        space and time.</p>
                </div>
            </ng-template>



            

        </owl-carousel-o>
    </div>
